.login {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px
}

.submit {
  background-color: #546d58;
  color: white;
  border-radius: 8px;
  transition: transform .2s;
  margin-bottom: -50px;
}

.submit:hover {
  background-color: #546d58;
  color: white;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.links-connexion-login {
  text-decoration: none;
  color: black;
  margin-top: 68px;
  margin-bottom: 90px;
}

@media only screen and (min-width: 768px) {

  .form-log-in {
    display: block;
  }

  .links-connexion-login {
    margin-top: 65px;
  }
}
