.links-connexion-signup {
  text-align: center;
  margin: 32px 0 64px;
  font-size: $font-size-sm;
  color: $gray-400;

  a {
    color: $black;
    text-decoration: underline;
    text-underline-offset: 3px;

    &:hover {
      color: $gray-600;
    }
  }
}

@media (min-width: 768px) {
  .form-sign-up {
    display: block;
  }

  .links-connexion-signup {
    margin-top: 48px;
  }
}
