<div class="footer">
    <h3 class="reseaux-sociaux">Suivez-nous sur les réseaux sociaux</h3>
    <ul class="social-icons">
      <li>
        <a href="https://www.instagram.com/tudo.bem.maman/" target="_blank" class="link"><i class="fab fa-instagram instagram"></i></a>
      </li>
    </ul>
  </div>
