<body>
  <h1 class="title">WELCOME TO TUDO BEM MAMAN</h1>
  <%= image_tag "banner.jpg", alt: "T-shirt", width: 600, class: "banner" %>
  <div class="container">
      <p class="subtitle">Inspired by phonecalls between a mother and a student who left to study in Lisboa and living his best life ...</p>
  </div>
  <%# <div class="first-section">
  </div> %>

  <div class="sect">
    <div class="container">
        <div class="flex">
          <div class="imgage-ines"></div>
            <%= image_tag "owner.png", alt: "T-shirt", class: "owner" %>
          <div class="comment-ines">
            <h3 class="owner-name">Inès Rolland</h3>
            <div class="first-section"></div>
            <p class="comment-content">Cette marque part d'une aventure familiale entre mon frère et moi qui avons vécu tous les deux au Portugal. <br>Découvre nos dernières créations !</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6 first-col">
        <h3>Découvrez nos t-shirts d'origine française</h3>
        <p>Conçue à Paris et designé au Portugal, nos t-shirts apportent du soleil dans vos vies lol</p>
      </div>
      <div class="col-6">
        <%= image_tag "banner-2.jpg", alt: "T-shirt", width: 600, class: "banner-2 img-responsive" %>
      </div>
    </div>
    <p class="button-home"><%= link_to "Voir tous les vêtements", clothes_path, class: "text-button" %></p>
  </div>
</body>
