<h1 class="title">Dashboard des ventes</h1>
<h3 class="title">Mettre toutes les infos de stripe pour Inès la femme de ma vie</h3>

<div class="container">
  <h3 class="h3-dash">Tes t-shirts vendus !</h3>
  <div class="vente">
    <% @clothe.each do |clothe| %>
      <p><%= clothe.name %></p>
      <p><%= clothe.price %>
      <p><%= clothe.sales_count %>t-shirt vendu(s)</p>
    <% end %>
  </div>
</div>
