<div class="container">
  <h1>Merci d'avoir passé commande chez nous !</h1>

  <p>Vous allez recevoir un email de confirmation de votre commande.</p>
  <p>Mettre en place avec formulaire avant stripe</p>
  <div class="row">
    <h3>Votre nouveau <%= @clothe.category %> <strong><%= @clothe.name %></strong></h3>
    <p><%= cl_image_tag @clothe.image.key, crop: :fill, class: "image-dashboard"%></p>
    <div class="col-md-6">
      <h2>Adresse de livraison</h2>
      <p><%#= @order.address %></p>
      <p><%#= @order.city %></p>
      <p><%#= @order.zipcode %></p>
      <p><%#= @order.country %></p>
    </div>
    <div class="col-md-6">
      <h2>Adresse de facturation</h2>
      <p><%#= @order.billing_address %></p>
      <p><%#= @order.billing_city %></p>
      <p><%#= @order.billing_zipcode %></p>
      <p><%#= @order.billing_country %></p>
    </div>
  </div>
</div>
