.footer {
  background-color: black;
  height: 200px;
  width: 100%;
  margin-top: 3%;
}

.reseaux-sociaux {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  color: white;
  padding-bottom: 25px;
}

.fa-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: white;
}

.social-icons{
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 85px;
}

.social-icons li{
  margin: 0 20px;
  margin-top: -80px;
}

.social-icons li a{
  border: 3px solid #546d58;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 50%;
  border-right: none;
  border-top: none;
  transition: 0.3s ease;
}

.social-icons li a:hover{
  border-top: 3px solid;
  border-right:3px solid;
  transform: rotate(360deg);
  background-color: #546d58;
  border-color: white;
}
