body {
  background-color: white;
}

.title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 60px;
}

.banner {
  display: block;
  width: 100%;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-button {
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: #546d58;
  text-decoration: none;
  border: none;
  display: flex;
  justify-content: center;
  width: 20%;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  transition: transform .2s;
}

.text-button:hover{
  background-color: #546d58;
  color: white;
  text-decoration: none;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.button-home {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 96px;
}

h3 {
  margin-top: 20px;
}

.first-col {
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
}

.menu {
  text-decoration: none;
}

.banner-2 {
  display: block;
  width: 100%;
  margin: auto;
  margin-left: 5%;
}

.footer {
  background-color: black;
  height: 200px;
  width: 100%;
  margin-top: 3%;
}

.reseaux-sociaux {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  color: white;
  padding-bottom: 25px;
}

.fa-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: white;
}

.social-icons{
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 85px;
}

.social-icons li{
  margin: 0 20px;
  margin-top: -80px;
}

.social-icons li a{
  border: 3px solid #546d58;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 50%;
  border-right: none;
  border-top: none;
  transition: 0.3s ease;
}

.social-icons li a:hover{
  border-top: 3px solid;
  border-right:3px solid;
  transform: rotate(360deg);
  background-color: #546d58;
  border-color: white;
}

.panier{
  position: inherit;
  list-style: none;
}


.sect {
  height: 330px;
  width: 100%;
  background-color: black;
  margin-top: 96px;
  margin-bottom: 96px;
}

.flex {
  display: flex;
  gap: 72px;
}

.owner {
  margin-left: 21%;
  margin-top: 7%;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.comment-ines {
  margin-top: 6%;
}

.owner-name {
  width: 100%;
  color: white;
  margin-top: 3%;
  margin-bottom: -3px;
}

.first-section {
  width: 90px;
  height: 10px;
  border-bottom: solid white;
}

.comment-content {
  color: white;
  margin-top: 16px;
}

@media only screen and (max-width: 768px) {
  .text-button{
    width: 70%;
    height: 10%;
    padding-top: 9px;
  }
}

@media only screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .sect {
    height: fit-content;
    width: 100%;
    background-color: black;
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .first-section {
    margin: 0 auto;
    width: 90px;
    height: 10px;
    border-bottom: solid white;
  }

  .owner {
    height: 148px;
    width: 148px;
    border-radius: 50%;
    margin: 16px auto
  }

  .comment-ines {
    margin-top: 0%;
  }

  .comment-content {
    color: white;
    margin-top: 16px;
    margin-bottom: 32px;
  }
}
