.container {
  display: flex;
  gap: 80px
}

.buy-button {
  background-color: #546d58;
  border: none;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
  }

  .tshirt-info {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -40px;
  }

  .image-clothe{
    display: block;
    margin: auto;
    height: 300px;
    width: 300px;
  }
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.image-clothe {
  height: 430px;
  width: 430px;
}
