// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Animations
@import "config/animations";

// Your CSS partials
@import "components/index";
@import "pages/index";
